* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;	
}
.container {
	margin: auto;
	max-width: 1200px;
}
.main {	
	background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 44px;
	margin-bottom: 40px;
}
.input {
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	color: #BFBFBF;
	font-size: 16px;
	line-height: 24px;	
}
::-webkit-input-placeholder { /* Chrome */
	color: #BFBFBF;
  }
  :-ms-input-placeholder { /* IE 10+ */
	color: #BFBFBF;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	color: #BFBFBF;
	opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
	color: #BFBFBF;
	opacity: 1;
  }
.serch-input {
	flex: .8;
	height: 40px;
	background-image: url(../img/home.svg);
	background-repeat: no-repeat;
	background-position: left 11px center;
	padding: 8px 12px 8px 33px;
}
.buttons {
	display: flex;
	align-items: center;
}
.button {
	display: flex;
	align-items: center;
	color: #595959;
	padding: 8px 16px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
}
.button-shopping-card {
	background-image: url(../img/shopping-card.svg);
	background-repeat: no-repeat;
	background-position: left 16px center;
	padding-left: 36px;
}
.button-user, .basket, .modal-order {
	background: #1890FF;
	color: #ffffff;
	order: 1px solid #1890FF;
	margin-right: 10px;
}
.button-basket {
	margin-left: 10px;
}
.user-button-icon {
	padding-right: 6px;
}
.promo {
	background: #FFF1B8 url(../img/svetik-removebg-preview\ 1.png) no-repeat top -53px right -82px /625px;
	border-radius: 10px;
	padding: 68px 70px;
	box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
}
.promo-heading {
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 46px;
	color: #302C34;
}
.promo-text {
	margin: 0;
	padding-top: 15px;
	max-width: 538px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #302C34;
}
.restaurants {
	margin-top: 56px;
}
.serch-hading {
	display: flex;
	align-items: center;
	margin-bottom: 44px;
}
.serch-restaurants {
	width: 306px;
	background-image: url(../img/serch.svg);
	background-repeat: no-repeat;
	background-position: left 11px center;
	padding: 5px 12px 5px 32px;
	color: #BFBFBF;
	margin-left: auto;
}
.serch-title {
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: -1px;
	color: #000000;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.card {
	background: #FFFFFF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	border-radius: 7px;
	margin-bottom: 30px;
	overflow: hidden;
	flex-basis: 30%;
}
.link-resraurant {
	text-decoration: none;
}
.card-img {	
	object-fit: cover;
}
.card-img-restaurant {
	width: 100%;
	object-fit: cover;
}
.card-text {
	padding: 20px 23px 35px 24px;
}
.card-heading {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-name {
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #000000;
}
.card-name-regular {
	font-size: 17px;
	font-weight: 400;
}
.time {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background: #262626;
	border-radius: 2px;
	padding: 1px 8px;
}
.card-info {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-wrap: wrap;
}
.card-info-heading {
	display: flex;
	align-items: center;
	justify-content: left;
	margin-left: 30px;
}
.price, .category, .rating, .ingredients {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #8C8C8C;
}
.ingredients {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 24px;
}
.price-heading, .category-heading, .rating-heading {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #8C8C8C;
	margin-right: 10px;
}
.rating {
	color: #FFC107;
	margin-right: 26px;
	flex: 100%;
}
.price {
	margin-right: 10px;
}
.price:after {
	content: "";
	width: 5px;
	height: 5px;
	background-color: #8C8C8C;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 10px;
}
.card-price {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	color: #000000;
	margin-left: 30px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 68px 0;
}
.logo-footer {
	margin-right: 36px;
}
.navigation {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #595959;
	margin-right: auto;
}
.link {
	text-decoration: none;
	color: #595959;
	margin-right: 15px;
}
.block-icon {
	display: flex;
	align-items: center;
}
.block-icon-social:not(:last-child) {
	margin-right: 20px;
}

.modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .4);
}
.modal-is-open {
	display: flex;
}
.modal-dialog {
	padding: 40px 45px;
	width: 780px;
	background: #FFFFFF;
	border-radius: 5px;
	margin: auto;
}
.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 45px;
}
.modal-title {
	margin: 0;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}
.modal-button-close {
	border: none;
	background: transparent;
	font-size: 36px;
	line-height: 42px;
}
.modal-row {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;		
	border-bottom: 1px solid #D9D9D9;
	padding-bottom: 10px;
	padding-top: 15px;
}
.modal-price {
	margin-left: auto;
	margin-right: 48px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
}
.modal-button {
	border: 1px solid #40A9FF;
	border-radius: 2px;
	background-color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	width: 41px;
	height: 32px;
}
.modal-number {
	margin: 0 14px;
}
.modal-footer {
	margin-top: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.modal-tag {
	background: #262626;
	border-radius: 5px;
	color: #ffffff;
	padding: 15px 20px;
}
.modal-order {
	margin-left: auto;
	margin-right: 20px;
}

@media (max-width:1366px) {
	.container {
		max-width: 960px;
	}
	.promo {
		background-size: 400px;
		background-position: top right -80px;
	}
	.card-info {
		flex-wrap: wrap;
	}
	.rating {
		flex-basis: 100%;
	}
	.price {
		flex-basis: 100%;
	}
	.price:after {
		display: none;
	}
}
@media (max-width:992px) {
	.container {
		max-width: 740px;
	}
	.promo {
		background-size: 350px;
		background-position: top right -80px;
		padding: 50px;
	}
	.promo-text {
		max-width: 410px;
		font-size: 20px;
    	line-height: 22px;
	}
	.promo-heading {
		font-size: 30px;
		line-height: 35px;
	}	
	.serch-title {
		font-size: 30px;
    	line-height: 30px;
	}
	.card {
		flex-basis: 49%;
	}
	.card-name {
		font-size: 18px;
		line-height: 20px;
	}
}
@media (max-width:768px) {
	.container {
		max-width: 560px;
	}		
	.promo {
		background-size: 189px;
    	background-position: top -4px right -32px;
		padding: 25px;
	}
	.promo-heading {
		font-size: 20px;
    	line-height: 25px;
	}
	.promo-text {
		max-width: 278px;
		font-size: 15px;
		line-height: 15px;
	}
	
	.serch-title {
		font-size: 25px;
    	line-height: 30px;
	}
	.card-text {
		padding: 20px;
	}
	.footer {
		padding: 30px 0;
		flex-wrap: wrap;
	}
	.navigation {
		font-size: 15px;
		line-height: 20px;
		order: 3;
		margin-top: 10px;
	}
}
@media (max-width: 578px) {
	.container {
		max-width: 90%;
	}
	.header {
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.serch-input {
		order: 3;
		margin-top: 10px;
		flex: 1;
	}	
	.promo {
		background-size: 150px;
    	background-position: top -20px right -32px;
	}
	.restaurants {
		margin-top: 25px;
	}
	.serch-hading {
		margin-bottom: 30px;
		flex-wrap: wrap;
	}
	.serch-title {
		width: 100%;
	}
	.serch-restaurants {
		flex: 1;
		margin-top: 5px;
	}
}
@media (max-width: 480px) {
	.promo {
		background-image: none;
	}
	.button-shopping-card {
		height: 32px;
	}
	.button-text {
		display: none;
	}
	.card {
		flex-basis: 100%;
	}
	.card-img {
		width: 100%;
	}
}
@media (max-width: 445px) {
	.navigation {
		display: flex;
		flex-wrap: wrap;
	}
	.link {
		margin-top: 10px;
	}
}